@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#root {
  width: 100%;
  height: 100vh;
  background-color: #5A0BBA;
  overflow-y: auto;
}

.LocationMarker {
  width:50px;
}

h1 {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-align: center;
  color: #FFFFFF;
  font-family: 'Neucha', cursive;
  font-size: 50px;
}

.link {
  text-decoration: none !important;
  margin-bottom: 1.5rem !important;
}

.custom-btn {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 260px !important;
  height: 60px !important;
  border-radius: 30px !important;
  background-color: #FFFFFF !important;
  color: #5A00BA !important;
  font-family: 'Neucha', cursive;
  font-size: 35px !important;
  transition: font-size 0.5s !important;
  border: none !important;
}
.custom-btn:hover {
  font-size: 40px !important;
}

.custom-list-left-btn {
  width: 50% !important;
  height: 100% !important;
  border-top-left-radius: inherit !important;
  border-bottom-left-radius: inherit !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  background-color: #5A00BA !important;
  color: #FFFFFF !important;
  font-family: 'Neucha', cursive;
  font-size: 20px !important;
  border: none !important;
}

.custom-list-left-btn:focus {
  color: #5A00BA !important;
  background-color: #FFFFFF !important;
  border-top-left-radius: 17px !important;
  border-bottom-left-radius: 17px !important;
  text-transform: uppercase;
}


.custom-list-right-btn {
  width: 50% !important;
  height: 100% !important;
  border-top-right-radius: inherit !important;
  border-bottom-right-radius: inherit !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  background-color: #5A00BA !important;
  color: #FFFFFF !important;
  font-family: 'Neucha', cursive;
  font-size: 20px !important;
  border: none !important;
}

.custom-list-right-btn:focus {
  color: #5A00BA !important;
  background-color: #FFFFFF !important;
  border-top-right-radius: 17px !important;
  border-bottom-right-radius: 17px !important;
  text-transform: uppercase;
}

.logoOnFrontPage {
  margin-top: 2.5em;
}

.logoOnListPage {
  margin-top: 2.5em;
}
.SearchBar {
  width: 270px !important;
  height: 40px !important;
  border-radius: 30px !important;
  border: none !important;
  font-family: 'Roboto', sans-serif !important;
  font-size: 18px !important;
  text-align: center;
  color: #5A00BA !important;
}

::placeholder {
  color: #5A00BA !important;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.custom-card {
  width: 350px !important;
  padding: 1em;
  margin-bottom: 1em !important;
  border: none !important;
  border-radius: 25px !important;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
}

.custom-card-vol-marker-container {
  width: 2em;
  margin-right: 0.8em;
}

.custom-card-vol-marker {
  width: 2em;
}

.custom-card-content-container {
  width:100%;
  height:100%;
}

.custom-card-name {
  font-family: 'Roboto', sans-serif !important;
  font-size: 25px !important;
  font-weight: bold !important;
  color: #5A00BA !important;
}

.custom-card-content {
  font-family: 'Roboto', sans-serif !important;
  font-size: 20px !important;
  color: #5A00BA !important;
}

.custom-card-link {
  font-family: 'Neucha', cursive !important;
  font-size: 25px !important;
  text-decoration: none !important;
  color: #5A00BA !important;
  margin-right: 1em;
}

.custom-card-link:hover {
  color: #5A00BA !important;
}

.backButtonContainer {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 2em;
  left: 2em;
  z-index:500;
}

.backButton {
  width: 60px;
  transition: width 0.5s;
}

.backButton:hover {
  width: 75px;
}

.infoButtonContainer {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 2em;
  right: 2em;
  z-index:500;
}

.infoButton {
  width: 60px;
  transition: width 0.5s;
}

.infoButton:hover {
  width: 75px;
  cursor: pointer;
}

.locateButtonContainer {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 2em;
  left: 2em;
  z-index:500;
}

.locateButton {
  width: 60px;
  transition: width 0.5s;
  pointer-events: none;
}

.locateButton:hover {
  width: 75px;
  cursor: pointer;
}

.listButtonContainer {
  display: block;
  width: 200px;
  height: 42px;
  margin-top: 1em;
  margin-bottom: 1em;
  border: solid 2px #FFFFFF;
  border-radius: 30px;
}

.legend_container {
  width: 400px;
  height: 255px;
  border: solid 2px #FFFFFF;
  border-radius: 25px;
  background-color: #5A00BA;
  color: #FFFFFF;
  padding: 20px;
  position: absolute;
  top: 2em;
  z-index:500;
}

@media only screen and (max-width: 450px){
  .legend_container {
    top: 8em;
  }
  .locateButtonContainer {
    top: 82%;
  }
  .leaflet-touch .leaflet-bar a {
    bottom: 6em;
  }
}

.legend_marker {
  width: 2em;
}

.legend_text_left {
  position: relative;
  top: 0.2em;
  margin-left: 1em;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 25px;
}

.legend_text_right {
  position: relative;
  top: 0.2em;
  margin-right: 1.7em;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 25px;
  float: right;
}

.legend_close_button_container {
  width: 2em;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 1.7em;
  bottom: 2.2em;
}

.legend_close_button {
  font-family: 'Neucha', cursive;
  font-size: 40px;
}

.legend_close_button:hover {
  cursor: pointer;
}

.leaflet-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.leaflet-popup-content-wrapper {
  width: 350px;
  background-color: #5A00BA;
  color: #FFFFFF;
  border: solid 2px #FFFFFF;
  border-radius: 25px;
  box-shadow: none;
}

.leaflet-popup-tip-container {
  overflow:visible;
}

.leaflet-popup-tip {
  background-color: #5A00BA;
  border-bottom: solid 2px #FFFFFF;
  border-right: solid 2px #FFFFFF;
  box-shadow: none;
}

.leaflet-container a.leaflet-popup-close-button{
  position: relative;
  padding: 0;
  margin: 0;
  top: -0.9em;
  left: 2.8em;
  color: #FFFFFF;
  font-size: 50px;
  opacity: 0;
}

.popupName {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 25px;
}

.popupContent {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.popupContentDistance {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.popupLink {
  font-family: 'Neucha', cursive;
  font-size: 25px;
  text-decoration: none;
}

.popupLink:link {
  color: #FFFFFF;
}

.popupLink:visited {
  color:#FFFFFF;
}

.popup_close_button_container {
  width: 2em;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 1.75em;
  bottom: 4.5em;
  z-index: 900;
  pointer-events: none;
}

.popup_close_button {
  font-family: 'Neucha', cursive;
  font-size: 40px;
  transition: font-size 0.5s;
}

.popup_close_button:hover {
  cursor: pointer;
  font-size: 50px;
}

.leaflet-touch .leaflet-bar a {
  width: 50px;
  height: 50px;
  position:absolute;
  left: 1.4em;
  bottom: 1.4em;
  opacity: 0;
}