h1 {
  margin: auto;
  padding-bottom: 20px;
  text-align: center;
  color: #5A00BA;
  width: 370px;
}
.buttonStyle {
  display: inline-block;
  background-color: white;
  cursor: pointer;
  padding: 8px 22px;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  border-color: #5A00BA;
  color: #5A00BA;
}
.custom-btn {
  background-color: transparent !important;
  border: 2px solid #5A00BA !important;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 5px 17px !important;
  color: #5A00BA !important;
}
.custom-btn:focus {
  font-weight: bold;
  text-transform: uppercase;
}
.logo {
  width: 250px;
  display: block;
  margin: auto;
  margin-top: 5%;
}
.logoOnListPage {
  width: 125px;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}
.SearchBar {
  font-size: larger !important;
  border-radius: 50px !important;
  border-color: #5A00BA !important;
  border-style: solid;
  color: #5A00BA !important;
}
input:focus {
  outline: none;
}
.center {
  width: 400px;
  margin: auto;
  text-align: center;
  display: block;
  justify-content: center;
  color: #5A00BA;
}
.custom-card {
  text-align: left !important;
  border: 2px solid #5A00BA !important;
  margin-bottom: 10px !important;
}